header{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 92px 51px 92px 51px;
}

.links-list-item{
    list-style: circle;
    display: flex;
}

.no-bullits{
    list-style: none;
}

.links-list-item_no-bullits{
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bullits-one{
    padding-left: 16px;
}

.links-list-item_bullits-one{
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.bullits-two{
    padding-left: 16px;
}

.links-list-item_bullits-two{
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.logo{
    margin-left: 209px;
}

.logo_image{
    width: 148px;
}

.contacts{
    margin-left: 355px;
}

.contacts_adress{
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
}

.contacts_adress_one{
    text-decoration: underline;
    text-underline-offset: 4px;
    list-style: none;
}


.contacts_adress_three{
    list-style: none;
}

.cover_img{
    height: 757px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('/images/cover.jpg');  
    background-size: 100%;}

.cover_text{
    height: 385px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding-top: 165px;
    padding-left: 50px;
    padding-right: 50px;
}

.cover_text_it{
    align-self: start;
}

.cover_text_you{
    align-self: center;
    margin-left: 10%;
}

.cover_text_need{
    align-self: end;
    margin-left: 2%;
   
}

.cover_auction{
    display: flex;
    margin-left: 422px;
    margin-top: 135px; 
}


.cover_auction_text{
    color: #FFF; 
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 1.25em;
}



.cover_auction_button{
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 78px;
    border: 1px solid #FFF;
    padding: 12px 32px;
    justify-items: center;
    margin-top: -12px;
}

.lot{
    margin-top: 108px;
    margin-left: 90px;
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.lots_all{
    display: flex;
    margin: 27px 50px 30px 50px;
    justify-content: space-between;
}

.lots_one{
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('/images/card-lot-01.jpg');
    background-size: 100%;
    width: 430px;
    height: 450px;
    
}

.lots_one_text-up{
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
    margin-left: 40px;
    margin-top: 50px;
    margin-right: 40px;
    text-underline-offset: 3px;
}

.lots_one_text-down{
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-left: 40px;
    margin-top: 202px;
    margin-right: 40px;
}

.lots_two{
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('/images/card-lot-02.jpg');
    width: 430px;
    height: 450px;
    background-size: 100%;
}

.lots_two_text-up{
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
    margin-left: 40px;
    margin-top: 50px;
    text-underline-offset: 3px;
}

.lots_two_text-down{
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.lots_three{
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('/images/card-lot-03.jpg');
    width: 430px;
    height: 450px;
    background-size: 100%;
}

.lots_three_text-up{
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
    margin-left: 40px;
    margin-top: 50px;
    margin-right: 40px;
    text-underline-offset: 3px;
}

.lots_three_text-down{
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 84px;
    margin-left: 40px;
    margin-right: 40px;
}

.look-more{
    margin-left: 90px;
    margin-top: 30px;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

.about_all{
    display: flex;
}

.about_logo{
    margin-top: 182px;
    margin-left: 50px;
    width: 430px;
    height: 240px;
    
}

.circle{
    margin-left: 95px;
    margin-right: 95px;
    width: 240px;
    height: 240px;
    background: #000;
    border-radius: 50%;
}

.logo_white{
    background-image: url('/images/logo-white.svg');
    height: 114px;
    width: 148px;
    background-size: 100%;
    margin-top: -177px;
    margin-left: 141px;
}

.auction{
    margin-left: 25px;
    margin-top: 281px;
}

.auction_title{
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.auction_text{
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 50px;
}

p{
    margin-bottom: 25px;
}

footer{
    display: flex;
    justify-content: space-between;
}

.footer_adress_list{
    margin-left: 50px;
    margin-top: 155px;
    margin-bottom: 90px;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    list-style: none;
}

.footer_adress_one{
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer_navigation{
    margin-top: 155px;
    display: flex;
    flex-direction: column;
}

.main{
    align-self: center;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.look_lots{
    align-self: center;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.about_auction{
    align-self: center;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer_pictures{
    width: 240px;
    height: 48px;
    margin-top: 155px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}

.footer_pictures_youtube{
    background-image: url('/images/yt.svg');
    height: 48px;
    width: 48px;
    background-size: 100%;
}

.footer_pictures_vk{
    background-image: url('/images/vk.svg');
    height: 48px;
    width: 48px;
    background-size: 100%;
}

.footer_pictures_pinterest{
    background-image: url('/images/pinterest.svg');
    height: 48px;
    width: 48px;
    background-size: 100%;
}